body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.login {
    background-color: #FFF;
    width: 25%;
    position: absolute;
    right: 0px;
    top: 0px;
    min-height: 100%;
    text-align: center;
    padding: 5% 0 0 0;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

h2 {
    font-size: 24px;
}

.login form {
    padding-top: 5%;
    padding-bottom: 5%;
}

input.rounded {
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 2px #666;
    -webkit-box-shadow: 1px 1px 2px #666;
    box-shadow: 1px 1px 2px #666;
    font-size: 16px;
    padding: 2px 4px;
    outline: 0;
    -webkit-appearance: none;
}

input.rounded:focus {
    border-color: #2439ff;
}

#username {
    background: url('../images/Users-Name-icon.png') no-repeat;
    background-size: 20px;
    background-position: 5px 5px;
    text-indent: 20px;
    width: 200px;
    margin-bottom: 20px;
    padding: 5px 10px;
}

#password {
    background: url('../images/password-icon.png') no-repeat;
    background-size: 20px;
    background-position: 5px 5px;
    text-indent: 20px;
    width: 200px;
    margin-bottom: 20px;
    padding: 5px 10px;
}

.loginbtn {
    background: #2439ff;
    color: #FFF;
    border-radius: 5px;
    border: none;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    margin-left: 35px;
}

.login a {
    text-decoration: none;
    color: #333;
}

.leftNav {
    float: left;
    width: 225px;
    border-right: 1px solid #000;
    min-height: 100%;
    text-align: center;
    padding-bottom: 10%;
}

.leftNav .logo {
    width: 120px;
}

.leftNav h3 {
    font-size: 18px;
}

.menu {
    width: 100%;
    color: #FFF;
    background: #1e2a90;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1e2a90, #192cf1);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1e2a90, #192cf1);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1e2a90, #192cf1);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1e2a90, #192cf1);
    /* Standard syntax */
}

.menu h4 {
    padding: 10px 0px 10px 0px;
    font-size: 16px;
}

.rightSide {
    float: left;
    width: 84%;
}

.rightSide .topMenu {
    height: 170px;
    background: #1e2a90;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1e2a90, #192cf1);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1e2a90, #192cf1);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1e2a90, #192cf1);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1e2a90, #192cf1);
    /* Standard syntax */
    width: 100%;
    padding: 30px 0px 0px 50px;
}

.topMenu .heading {
    font-size: 30px;
    color: #FFF;
}

.topMenu p {
    color: #FFF;
    float: left;
    padding-right: 20px;
    padding-top: 60px;
}

.topMenu ul {
    float: right;
    position: relative;
    right: 20px;
    top: 60px;
}

.topMenu ul li {
    float: left;
    list-style: none;
    color: #FFF;
    padding: 0px 5px 0px 5px;
}

.topMenu ul li a {
    color: #FFF;
}

.greyBtn {
    margin: 0px;
    position: relative;
    top: 20px;
    margin-bottom: 50px;
}

.greyBtn a {
    background: #7f7f7f;
    padding: 10px 20px;
    color: #FFF;
}

.greyBtn a:hover {
    background: #6b6b6b;
    padding: 10px 20px;
    color: #FFF;
    text-decoration: none;
}

.panel-title {
    background: #005b9a;
    color: #FFF;
    padding: 10px;
    text-align: left;
}

.panel-title a,
.panel-title a:hover {
    text-decoration: none;
}

.panel-body ul li {
    list-style: none;
    clear: both;
}

.panel-body ul li a {
    list-style: none;
    text-align: left;
    text-indent: 10px;
    padding: 10px 0px 10px 0px;
}

.menuActive a {
    background: #d5edf6!important;
    color: #005b9a!important;
    float: left;
    width: 90%;
}

.menuActive i {
    background: #d5edf6!important;
    color: #005b9a!important;
    float: left;
    width: 10%;
    padding: 13px 0px 14px 0px;
}

.panel-body ul {
    padding: 0px;
    margin: 0px;
}

.panel-body {
    padding: 0px;
}

.panel-group .panel+.panel {
    margin: 0px;
}

.panel-heading {
    padding: 0px;
}

.panel {
    border: none;
}

.panel-default>.panel-heading {
    border-bottom: 1px solid #FFF;
}

.panel-body ul li a:hover,
.panel-body ul li a {
    background: #0191c8;
    border-bottom: 1px solid #FFF;
    color: #FFF;
    text-decoration: none;
    display: block;
}

@media only screen and (max-width: 992px) {
    body {
        background-image: url('../images/mhmpbg1.jpg');
    }
    .dtbg {
        display: none;
    }
    .login {
        position: absolute;
        width: 90%;
        margin: 5%;
    }
}